<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.9.8" targetFramework="net45" />
  <package id="NetOffice.Core" version="1.7.3.0" targetFramework="net45" />
  <package id="NetOffice.Word" version="1.7.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NPOI" version="2.1.3.1" targetFramework="net45" />
  <package id="NUniversalCharDet" version="1.0.0" targetFramework="net45" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net45" />
</packages>